@font-face{
    font-family: 'IntroBold';  
    src: url('../fonts/Intro-Bold.eot');  
    src: url('../fonts/Intro-Bold.eot?iefix') format('eot'), 
    url('../fonts/Intro-Bold.woff') format('woff'), 
    url('../fonts/Intro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'IntroLight';  
    src: url('../fonts/Intro-Light.eot');  
    src: url('../fonts/Intro-Light.eot?iefix') format('eot'), 
    url('../fonts/Intro-Light.woff') format('woff'), 
    url('../fonts/Intro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'IntroRegular';  
    src: url('../fonts/Intro-Regular.eot');  
    src: url('../fonts/Intro-Regular.eot?iefix') format('eot'), 
    url('../fonts/Intro-Regular.woff') format('woff'), 
    url('../fonts/Intro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'IntroRegularAlt';  
    src: url('../fonts/Intro-Regular-Alt.ttf');  
}

@font-face{
    font-family: 'IntroBoldAlt';  
    src: url('../fonts/Intro-Bold-Alt.eot');  
    src: url('../fonts/Intro-Bold-Alt.eot?iefix') format('eot'), 
    url('../fonts/Intro-Bold-Alt.woff') format('woff'), 
    url('../fonts/Intro-Bold-Alt.ttf') format('truetype');
}

@font-face{
    font-family: 'OpenSans';  
    src: url('../fonts/OpenSans-Light.eot');  
    src: url('../fonts/OpenSans-Light.eot?iefix') format('eot'), 
    url('../fonts/OpenSans-Light.woff') format('woff'), 
    url('../fonts/OpenSans-Light.ttf') format('truetype');
}